*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: arial;
  font-size: 25px;
  font-family: system-ui;
  font-weight: 700;
}
body{
  background-color: rgb(199, 211, 190);
}
#field{
  width: 500px;
  height: auto;
  padding: 5px 0;
  border: 1px solid black;
  border-radius: 10px;
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#title{
  text-align: center;
  font-size: 25px;
  margin: 5px 0;
}
#textBox{
  width: 100%;
  height: 60px;
  
  padding: 5px;
  margin: 5px 0;
}
#titleBar{
  height: 60px;
}
#output{
  margin: 5px 0;
  height: auto;
  min-height: 30px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
  white-space: normal;
  word-wrap: break-word;
  font-weight: 400;
  font-style: italic;
}
#convert{
  margin: 5px 0;
  background-color: limegreen;
  width: 200px;
  height: 50px;
  border-radius: 5px;
}