*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*        Controller Buttons        */
#controller{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#controller div{
  height: 23px;
  width: 130px;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: visible;
}
#controller #leftbox{
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#controller #middlebox{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#controller #rightbox{
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.button{
  width: 50px;
  height: 50px;
  background: transparent;
  padding: 0;
  border: 1px solid;
  border-radius: 5px;
  border-color: #00000046;
}
.button img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 25%;
  pointer-events: none;
}

.btnleft img{
  transform: rotateZ(-90deg);
}

.btnright img{
  transform: rotateZ(90deg);
}

.btndown img{
  transform: rotateX(180deg);
}

/*     The Screen Canvas      */

#myCanvas{
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
#player{
  display: none;
}
#background{
  display: none;
}
#tiles{
  display: none;
}